{{!< default}}

<main class="site-main">

    <div class="wrapper-garland">
        <ul class="garland">
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
           <li><span></span></li>
        </ul>
    </div>

    <div class="days">
        {{#get "posts" limit="all" include="tags,authors" order="published_at asc"}}
            {{#foreach posts}}
                <a class="postLink" href="{{url}}">
                    <span class="day">
                        <span class="id">{{#foreach tags visibility="internal"}}{{name}}{{/foreach}}</span>
                        <h2 class="title">{{title}}</h2>
                        <span class="sep">—</span>
                        <span class="authors">{{#foreach authors}}<p>{{name}}</p>{{/foreach}}</span>
                    </span>
                    <span class="insideDay"></span>
                </a>
            {{/foreach}}
        {{/get}}
    </div>
</main>

<script type="module">
    {{#get "posts" limit="all"}}
        const numberOfPosts = {{posts.length}};
    {{/get}}
    const missingCards = 24 - numberOfPosts;

    console.log(numberOfPosts, missingCards)

    $('.id').each(function() { const val = $(this).text(); $(this).text(val.replace("#", ""))});

    for (const x of [...Array(missingCards).keys()].map(d => d + numberOfPosts + 1)) {
      $('.days').append(`<div class="day empty"><div class="id">${String(x).padStart(2, '0')}</div></div>`)
    }

</script>